#p1{
    background-image: url("windows-7.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#p2{
    background-image: url("georgia.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#p3{
    background-image: url("იმერეთი.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#p4{
    background-image: url("ქართლი.jpg");
    background-size: cover;
    
    
}
#p5{
    background-image: url("კახეთი.jpg");
    background-position: center;
    
}
#p6{
    background-image: url("სამეგრელო.jpg");
    background-size: cover;
}
#p7{
    background-image: url("გურია.jpg");
    background-size: cover;
}
#p8{
    background-image: url("რაჭა.jpg");    
    background-size: cover
}
#p9{
    background-image: url("აჭარა.jpg");
    background-size: cover;
}
#p10{
    background-image: url("სამცხე-ჯავახეთი.jpg");
    background-position: center;
}
#p11{
    background-image: url("სვანეთი.jpg");
    background-size: cover;
}




